@keyframes increase {
  from {
    width: 0;
    opacity: 0;
  }
  to {
    opacity: 1;
    width: 100%;
  }
}

@keyframes show {
  to {
    opacity: 1;
  }
}

@mixin after {
  position: absolute;
  content: "";
  inset: 0;
  height: 100%;
  opacity: 0;
  background-color: var(--accent);
  border-radius: inherit;
  animation: increase 200ms forwards;
}

.loader {
  position: fixed;
  inset: 0;
  height: 100%;
  width: 100%;
  display: grid;
  place-items: center;

  .box {
    height: 5em;
    width: 5em;
    position: relative;
    display: grid;
    place-items: center;

    .content {
      width: 2.5em;
      opacity: 0;
      animation: show 1s forwards;
      animation-delay: 1s;
    }

    .item {
      position: absolute;
      content: "";
      background-color: transparent;
      height: 0.2em;
      width: 40%;
      border-radius: 0.25em;

      &:nth-child(1) {
        left: 0.8em;
        top: 1em;
        rotate: -210deg;

        &::after {
          @include after();
        }
      }

      &:nth-child(2) {
        top: 48%;
        left: 0.02em;
        rotate: 90deg;
        &::after {
          @include after();
          animation-delay: 200ms;
        }
      }

      &:nth-child(4) {
        left: 0.8em;
        bottom: 1em;
        rotate: 30deg;
        &::after {
          @include after();
          animation-delay: 300ms;
        }
      }
      &:nth-child(5) {
        bottom: 1em;
        right: 0.6em;
        rotate: -30deg;
        &::after {
          @include after();
          animation-delay: 400ms;
        }
      }
      &:nth-child(3) {
        top: 48%;
        right: -0.2em;
        rotate: -90deg;
        &::after {
          @include after();
          animation-delay: 500ms;
        }
      }
      &:nth-child(6) {
        top: 1em;
        right: 0.6em;
        rotate: -150deg;
        &::after {
          @include after();
          animation-delay: 600ms;
        }
      }
    }
  }
}
