@use "../../scss" as *;

.experience {
  height: 100vh;
  @include heading(2);
  h1 {
    margin: 4em 0 0 4em;
  }

  article {
    height: 70%;
    display: grid;
    place-items: center;

    h2 {
      font-size: 12rem;
    }
  }
}

@media screen and (max-width: 769px) {
  .experience {
    margin: 4em 0 0 0;
    h1 {
      margin: 0;
    }

    article {
      h2 {
        font-size: clamp(4rem, 3rem + 8vw, 6rem);
      }
    }
  }
}
@media screen and (min-width: 770px) and (max-width: 1200px) {
  .experience {
    margin: 4em 0 0 0;
    h1 {
      margin: 0;
    }

    article {
      h2 {
        font-size: clamp(4rem, 3rem + 8vw, 6rem);
      }
    }
  }
}
